<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConvertTrack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Currency Convertor</h1>
	<hr>
	<div class="content">
		<form action="/" method="post" id="ConversionForm">

      <p>What is the currency you are starting with?</p>
        <select name="FromCurrency">
           {% for name, short_code in currency_dict.items() %}
            <option value="{{ short_code }}">{{ name }}</option>
          {% endfor %}
        </select>
			<p>
				<label>What is the amount you would like to convert:
				  <input type="number" name="amount" placeholder="$5.00" required>
        </label>
			</p>

			<div>
        <p>What kind of Currency would you like to convert to:</p>
        <select name="ToCurrency">
          {% for name, short_code in currency_dict.items() %}
           <option value="{{ short_code }}">{{ name }}</option>
         {% endfor %}
       </select>
        </div>

			<p><button type="submit">Submit</button></p>
      

		</form>
    {% if request.method == 'POST' %}
            <p class="resultMessage">You converted {{ amount }} {{ fromCurrency }} to {{ toCurrency }} resulting in: {{ newAmount }} {{ toCurrency }}</p>
      {% endif %}
    <!-- <p>You converted {{ amount }} {{ fromCurrency }} to {{ toCurrency }} resulting in: {{ newAmount }} {{ toCurrency }}</p> -->
        <hr>
        {% for i in conversions %}
	    <div class="todo">
            <p class="{{ i.previousConversions }}">You converted {{ i.amount }} {{i.FromCurrency}} to {{ i.ToCurrency }} resulting in {{i.NewAmount}} {{i.ToCurrency}}</p>
            <form method="POST" action="/delete/{{i._id}}">
                <input type="hidden" name="_method" value="DELETE">
                <input 
                    type="submit" 
                    value="Delete Tracked Conversion" 
                    onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
            
	    </div>
{% endfor %}
	</div>
</body>
</html>